<div class="title-list">
    <span>Список активных проектов:</span>
</div>
<div class="list-project">
    <div class="block-project">
        <a class="project" href="/">
            <i class="fa fa-star-half-o"></i>
            <span class="name"> siBOXmate</span>
            <div class="available-comments">
                <i class="fa fa-comments-o"></i>
                <span class="comments">2</span>
            </div>
        </a>
    </div>
    <div class="block-project">
        <a class="project" href="/">
            <i class="fa fa-star-half-o"></i>
            <span class="name"> Сайт президента страны</span>
            <div class="available-comments">
                <i class="fa fa-comments-o"></i>
                <span class="comments">2</span>
            </div>
        </a>
    </div>
    <div class="block-project">
        <a class="project" href="/">
            <i class="fa fa-star-half-o"></i>
            <span class="name"> Нефтяная компания “Экстрим-Нефть”</span>
            <div class="available-comments">
                <i class="fa fa-comments-o"></i>
                <span class="comments">2</span>
            </div>
        </a>
    </div>
</div>