<div class="container ">
    <div class="row">
        <div class="title">
            <h1>Список проектов</h1>
        </div>
    </div>
</div>
<section class="clear">
    <div class="container create_new_project">
        <div class="row">
            <div class="new-project">
                <h1>Новый проект</h1>
            </div>
            <div class="data-field">
                <div class="field">
                    <div class="title-field">
                        <h3>
                            Название проекта
                        </h3>
                    </div>
                    <input type="text"  placeholder="Введите имя">
                </div>
                <div class="field">
                    <div class="title-field">
                        <h3>
                            Добавить пользователя
                        </h3>
                    </div>
                    <input type="text"  placeholder="exempl@main.com">
                    <button type="button" class="btn btn-default">Создать проект</button>
                </div>
            </div>

        </div>
    </div>
</section>

<!--<div class="row add-project">-->
    <!--<div class="large-12 medium-12 small-12 main-add-page">-->
        <!--<h1 class="title-add-project"> Загрузить проект</h1>-->
        <!--<div class="large-3 medium-5 small-12 block-add-project left">-->
            <!--<img src="/front/assets/PC.jpg">-->
            <!--</div>-->
        <!--<div class="large-3 medium-5 small-12 block-add-project left">-->
            <!--<img src="/front/assets/drop-box.png">-->
        <!--</div>-->
        <!--<div class="large-3 medium-5 small-12 block-add-project google-disk left">-->
            <!--<img src="/front/assets/googl-disk.png">-->
        <!--</div>-->
        <!--<div class="button-cancel large-12 medium-12 small-12 left ">-->
        <!--<button href="#" class="button">Cancel</button>-->
            <!--</div>-->
    <!--</div>-->
<!--</div>-->