<div class="title-list">
    <span>Архив проектов</span>
</div>
<div class="list-project">
    <div class="block-project">
        <a class="project" href="/">
            <i class="fa fa-star"></i>
            <span class="name"> siBOXmate</span>
        </a>
    </div>
    <div class="block-project">
        <a class="project" href="/">
            <i class="fa fa-star"></i>
            <span class="name"> Сайт президента страны</span>
        </a>
    </div>
    <div class="block-project">
        <a class="project" href="/">
            <i class="fa fa-star"></i>
            <span class="name"> Нефтяная компания “Экстрим-Нефть”</span>
        </a>
    </div>
</div>