<section class="panel project-page">
    <div class="row">
        <div class="columns large-5 medium-4 small-12 left">
            <div class="scalable-thumbnails">
                <div class="block-input left">
                    <input type="text" placeholder="Название проекта" />
                    <i class="fa fa-pencil"></i>
                </div>
                <div class="list-project-pages">
                    <div class="mapping-project large-3 medium-3 small-3">
                        <a href="#">
                            <img src="/front/assets/avatar.png">
                        </a>
                    </div>
                    <div class="mapping-project large-3 medium-3 small-3">
                        <a href="#">
                            <img src="/front/assets/avatar.png">
                        </a>
                    </div>
                    <div class="mapping-project large-3 medium-3 small-3">
                        <a href="#">
                            <img src="/front/assets/avatar.png">
                        </a>
                    </div>
                    <div class="mapping-project large-3 medium-3 small-3">
                        <a href="#">
                            <img src="/front/assets/avatar.png">
                        </a>
                    </div>
                    <div class="mapping-project large-3 medium-3 small-3">
                        <a href="#">
                            <img src="/front/assets/avatar.png">
                        </a>
                    </div>
                    <div class="mapping-project large-3 medium-3 small-3">
                        <a href="#">
                            <img src="/front/assets/avatar.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns large-7 medium-8 small-12 right">
            <div class="block-list-user">
                <div class="user-instrument ">
                    <ul>
                        <li>
                            <button>
                                <i class="fa fa-pencil"></i>
                             </button>
                        </li>
                        <li>
                            <button>
                                <i class="fa fa-times-circle"></i>
                            </button>
                        </li>
                        <li>
                            <button>
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                 <div class="list-user">
                     <ul>
                         <li class="  ">
                             <img class="left" src="/front/assets/avatar.png" class="bm-avatar">
                             <p class="name-user "> Имя пользователя</p>
                         </li>
                         <li class="">
                             <img class="left" src="/front/assets/avatar.png" class="bm-avatar">
                             <p class="name-user "> Имя пользователя</p>
                         </li>
                         <li class="">
                             <img class="left" src="/front/assets/avatar.png" class="bm-avatar">
                             <p class="name-user  "> Имя пользователя</p>
                         </li>
                         <li class="">
                             <img class="left" src="/front/assets/avatar.png" class="bm-avatar">
                             <p class="name-user "> Имя пользователя</p>
                         </li>
                         <li class="">
                             <img class="left" src="/front/assets/avatar.png" class="bm-avatar">
                             <p class="name-user "> Имя пользователя</p>
                         </li>
                         <li class="">
                             <img class="left" src="/front/assets/avatar.png" class="bm-avatar">
                             <p class="name-user "> Имя пользователя</p>
                         </li>
                         <li class="">
                             <img class="left" src="/front/assets/avatar.png" class="bm-avatar">
                             <p class="name-user "> Имя пользователя</p>
                         </li>
                         <li class="">
                             <img class="left" src="/front/assets/avatar.png" class="bm-avatar">
                             <p class="name-user "> Имя пользователя</p>
                         </li>
                         <li class="">
                             <img class="left" src="/front/assets/avatar.png" class="bm-avatar">
                             <p class="name-user "> Имя пользователя</p>
                         </li>
                         <li class="add-user ">
                         </li>
                     </ul>
                     <div class="description-project left">
                         <ul>
                             <li class="read">
                                 <p>
                                     Task-1
                                 </p>
                                 <i class="fa fa-angle-down"></i>
                                 <i class="fa fa-angle-up"></i>
                                 <div class="watch-description">
                                     <p>Итак, нашей целью является разработка повторно используемого
                                         компонента для MarionetteJS, занимающегося визуализацией
                                         процесса загрузки. Как будет показано дальше, в случае
                                         Backbone/Marionette события начала и окончания загрузки
                                         можно считать частным случаем изменения состояния модели,
                                         поэтому назначение этого компонента можно сформулировать
                                         более абстрактно как визуализацию изменения состояния модели.
                                     </p>
                                 </div>
                             </li>
                             <li>
                                 <p>
                                     Task-2
                                 </p>
                                 <i class="fa fa-angle-down"></i>
                                 <i class="fa fa-angle-up"></i>
                                 <div class="watch-description">
                                     <p>Итак, нашей целью является разработка повторно используемого
                                         компонента для MarionetteJS, занимающегося визуализацией
                                         процесса загрузки. Как будет показано дальше, в случае
                                         Backbone/Marionette события начала и окончания загрузки
                                         можно считать частным случаем изменения состояния модели,
                                         поэтому назначение этого компонента можно сформулировать
                                         более абстрактно как визуализацию изменения состояния модели.
                                     </p>
                                 </div>
                             </li>
                             <li>
                                 <p>
                                     Task-3
                                 </p>
                                 <i class="fa fa-angle-down"></i>
                                 <i class="fa fa-angle-up"></i>
                                 <div class="watch-description">
                                     <p>Итак, нашей целью является разработка повторно используемого
                                         компонента для MarionetteJS, занимающегося визуализацией
                                         процесса загрузки. Как будет показано дальше, в случае
                                         Backbone/Marionette события начала и окончания загрузки
                                         можно считать частным случаем изменения состояния модели,
                                         поэтому назначение этого компонента можно сформулировать
                                         более абстрактно как визуализацию изменения состояния модели.
                                     </p>
                                 </div>
                             </li>
                             <li>
                                 <p>
                                     Task-4
                                 </p>
                                 <i class="fa fa-angle-down"></i>
                                 <i class="fa fa-angle-up"></i>
                                 <div class="watch-description">
                                     <p>Итак, нашей целью является разработка повторно используемого
                                         компонента для MarionetteJS, занимающегося визуализацией
                                         процесса загрузки. Как будет показано дальше, в случае
                                         Backbone/Marionette события начала и окончания загрузки
                                         можно считать частным случаем изменения состояния модели,
                                         поэтому назначение этого компонента можно сформулировать
                                         более абстрактно как визуализацию изменения состояния модели.
                                     </p>
                                 </div>
                             </li>
                             <li>
                                 <p>
                                     Task-5
                                 </p>
                                 <i class="fa fa-angle-down"></i>
                                 <i class="fa fa-angle-up"></i>
                                 <div class="watch-description">
                                     <p>Итак, нашей целью является разработка повторно используемого
                                         компонента для MarionetteJS, занимающегося визуализацией
                                         процесса загрузки. Как будет показано дальше, в случае
                                         Backbone/Marionette события начала и окончания загрузки
                                         можно считать частным случаем изменения состояния модели,
                                         поэтому назначение этого компонента можно сформулировать
                                         более абстрактно как визуализацию изменения состояния модели.
                                     </p>
                                 </div>
                             </li>
                         </ul>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</section>