<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/front/bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" href="/front/bower_components/foundation/css/foundation.css">
    <link rel="stylesheet" href="/front/assets/style/spinner.css">
    <link rel="stylesheet" href="/front/assets/style/style.css">
</head>
<body>
    <h1 class="bm-header">Проекты</h1>
    <section class="panel large-12 middle-12  small-12">
        <div id="registrationForm"></div>
    </section>
</body>

</html>



