/*header, footer {*/
    /*float:left;*/
    /*padding:15px 0;*/
    /*width:100%;*/
/*}*/
/*header, footer {*/
    /*width: 100%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
    /*max-width: 62.5rem;*/
/*}*/
.medium-7{
    width: 57%;
}
.bm-avatar {
    width: 39px;
    height: 39px;
    margin: 3px 3px 3px 10px;
}

.callout-card-content {
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.bm-header {
    margin-left: 20px;
}

.callout-card {
    background: white;
    border: 1px solid #333;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
    overflow: hidden;
    padding: 1em 0;
    box-sizing: border-box;
}
.callout-card .card-label {
    border-color: transparent #333 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #333333 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.primary {
    border-color: #446cb3; }
.callout-card.primary .card-label {
    border-color: transparent #446cb3 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #446cb3 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.secondary {
    border-color: #adb2bd; }
.callout-card.secondary .card-label {
    border-color: transparent #adb2bd transparent transparent;
    border-color: rgba(255, 255, 255, 0) #adb2bd rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.info {
    border-color: #89c4f4; }
.callout-card.info .card-label {
    border-color: transparent #89c4f4 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #89c4f4 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.alert {
    border-color: #f22613; }
.callout-card.alert .card-label {
    border-color: transparent #f22613 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #f22613 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.success {
    border-color: #87d37c; }
.callout-card.success .card-label {
    border-color: transparent #87d37c transparent transparent;
    border-color: rgba(255, 255, 255, 0) #87d37c rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card.warning {
    border-color: #f89406; }
.callout-card.warning .card-label {
    border-color: transparent #f89406 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #f89406 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
.callout-card .card-label {
    border-style: solid;
    border-width: 0 70px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    transform: rotate(360deg); }
/*.callout-card .callout-card-content {*/
    /*padding: 0.5rem 1.5rem 0.875rem; }*/
.callout-card.radius {
    border-radius: 0.6rem; }
.callout-card .label-text {
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 2px;
    white-space: nowrap;
    transform: rotate(30deg); }

.bm-project-image {
    float: left;
    margin-right: 10px;
    /*width: 150px;*/
}

.panel.bm-footer {
    padding: 0;
}

.panel.bm-footer .bm-footer-content{
    /*padding-bottom: 56px;*/
    /*padding-top: 8px;*/
    overflow: hidden;
    padding: 8px 0;
    box-sizing: border-box;
}

.row.bm-row .columns.bm-project-box {
    float: left;
}

.row.bm-row{
    max-width: 100rem;
}

.row .row.bm-user-block {
    margin: 10px 0 0 20px;
    width: 227px;
    float: left
}
.row .row.bm-user-block {
    margin: 10px 0 0 20px;
    width: 227px;
    float: left
}

.row .row.bm-user-block .bm-user {
    float: left;
    margin-left: 5px;
    padding: 0;
    width: 40px;
}

.row .row.bm-user-block .bm-user img {
    max-width: none;
    width: 40px;
    display: block;
}

.bm-user-additional-block {
    float: left;
    margin-top: 10px;
    /*width: 144px;*/
}

.bm-user-additional-block .columns.bm-trash {
    width: 40px;
    height: 40px;
    padding: 0;
    background: url('http://vignette1.wikia.nocookie.net/ttwthroughthewoods/images/3/3c/Trash_Can_Body.png/revision/latest?cb=20130815221422') no-repeat;
    background-size: cover;
    margin:0;
}

.pointer {
    cursor: pointer;
}

.bm-user-additional-block .button.bm-open {
    margin-left: 15px;
    margin-bottom: 0;
}

footer.panel.bm-footer {
    background-color: #333333;
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    margin: 0;
    overflow: visible;
}

.bm-footer .bm-footer-content .bm-copyright{
    margin-top: 14px;
    margin-left: 20px;
    color: white;
}

.bm-footer .bm-footer-content .bm-social {
    margin-right: 5px;
}

.bm-footer .bm-footer-content .bm-social img{
    width: 50px;
    float: right;
    margin-right: 5px;
}

section.panel div.row.bm-auth-fields .columns{
    float: none;
    left: 0;
    right: 0;
    margin: auto;
}

section.panel div.row.bm-auth-fields .columns label{
    float: left;
}
.padding-0{
    padding: 0;
}
form{
    max-width: 500px;
    margin: 0 auto;
}
form h3{
    margin: 0;
}

section .select-tack:hover{
    outline: 1px solid #008cba;
}
.select-tack :focus {
    outline: 1px solid #008cba;
    background-color:red;
}
.select-tack :active{
    outline: 1px solid #008cba;
    background-color:red;
}

/*usertool*/
.main-usertool-block{
    background: #fff;
    padding: 1rem;
}
.panel-left,.panel-right{
    background: #fff;
    padding: 10px;

}
.panel-left:hover,.panel-right:hover{
    box-shadow: 0 0 3px 1px #000000;
    transition: 1s ease 0s;
}

 button.button.tiny{
     border-radius: 2px;
     font-size: 1rem;
     margin: 0;
     padding: 0.025rem 1rem 0.0875rem;
     position: relative;
     background: #f2f2f2;
     color:#000000;
     border: 2px solid #000;
}
.collapse-block-left:hover{
    box-shadow: 0 0 3px 1px #464646;
    transition: 0.2s ease 0s;
    background: #dbdbdb
}
.collapse-block-left:active{
    box-shadow: 0 0 5px 1px #464646;
    transition: 0.1s ease 0s;

}
.row .row.bm-list-project {
    margin:0.5rem 0 0.9rem 0;
    width: 100%;
    float: left
}
.section-container{
    outline: 1px solid #d8d8d8;
    float: left;
    padding: 5px;
}
section .user-name {
    float: left;
    display: block;
    padding: 0;
    margin: 0;
}
section .user-name:hover {
   outline: 1px solid  #d8d8d8;
    padding: 0 2px;
    box-sizing: border-box;
    transition: 0.7s ease 0s;
}
section .user-name a{
    font-size: 1rem;
    float: left;
    min-width: 100px;
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5px 0 0 ;
    font-weight: normal;
}
section .user-name p{
    font-size: 1rem;
    float: left;
    margin: 0;
    font-weight: normal;
    color: #000000;
}
section .user-name.message{
    float: left;
}
section .user-name .time-message{
    float: right;
}
section .user-name a:hover{
    text-decoration: underline;
    color: #00668b;
    transition: 0.7s ease 0s;
}
section .user-name:first-child a:hover{
    text-decoration: underline;
    color: #d70339;
    transition: 0.7s ease 0s;
}
section .user-name:nth-child(2) a:hover{
    text-decoration: underline;
    color: #d743c2;
    transition: 0.7s ease 0s;
}
section .user-name:nth-child(3) a:hover{
    text-decoration: underline;
    color: #6f45d7;
    transition: 0.7s ease 0s;
}
section .user-name:nth-child(4) a:hover{
    text-decoration: underline;
    color: #343dd7;
    transition: 0.7s ease 0s;
}
section .user-name:nth-child(5) a:hover{
    text-decoration: underline;
    color: #b27c1b;
    transition: 0.7s ease 0s;
}
section .user-name:nth-child(6) a:hover{
    text-decoration: underline;
    color: #b20987;
    transition: 0.7s ease 0s;
}
section .user-name:nth-child(7) a:hover{
    text-decoration: underline;
    color: #83272d;
    transition: 0.7s ease 0s;
}
section .user-name:nth-child(8) a:hover{
    text-decoration: underline;
    color: #15f322;
    transition: 0.7s ease 0s;
}
section .user-name:nth-child(9) a:hover{
    text-decoration: underline;
    color: #d7d60e;
    transition: 0.7s ease 0s;
}
section .user-name:nth-child(10) a:hover{
    text-decoration: underline;
    color: #b8028b;
    transition: 0.7s ease 0s;
}
.text-message{
    margin-top: 15px;
}
.text-message textarea:focus{
    box-shadow: 0 0 3px 1px #008cba;
    transition: 0.7s ease 0s;
}



@media (max-width: 1348px) {
    .bm-project-title{
        font-size: 1.1rem;
        width: 100%;
        float: left;
        margin-top: 15px;
    }
    .project-block{
        float: left;
        width: 50%;
    }
    .bm-project-image{
        width: 100%;
        max-height: 165px;
    }
    .row .row.bm-user-block{
        width: 100%;
        margin-left: 0;
    }
    .bm-user{
        padding: 0;
    }
    .bm-user-additional-block{
        width: 100%;
        float: left;
    }
    .bm-user-additional-block .button.bm-open {
        width: 83%;
    }
}



@media (max-width: 1145px) {
    .bm-user-additional-block .button.bm-open {
        width: 79%;
    }
}
@media (max-width: 788px) {
    .bm-project-image{
        max-height: 139px;
    }
}
@media (max-width: 650px) {
    .bm-user-additional-block .button.bm-open {
        width: 76%;
    }
}
@media (max-width: 640px) {
    .project-block{
        width: 100%;
    }
    .bm-user-block{
        width: 100%;
    }
    .bm-user-additional-block .button.bm-open {
        width:83.3333% ;
    }
    .row .row.bm-user-block .bm-user{
        width: 18%;
    }
    .row .row.bm-user-block .bm-user img{
        width: 100%;
    }
}
@media (max-width: 420px) {
        .bm-user-additional-block .button.bm-open {
        width:76.6667%;
    }
}




