header {
@include grid-row;
    .logo  { @include grid-column($columns:3, $center:true); }
    padding-bottom: em-calc(10px);
    background-image: url('../img/header.jpg');
    background-size: cover;
    h1 {
        color: white;
        font-weight: 300;
    }
    h4 {
        color: #cccccc;
        font-weight: 300;
    }
}