.active-button:hover {
  background: #ed145b;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease 0s;
  -moz-transition: 0.3s ease 0s;
  -ms-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
}
.active-button:active {
  background: #333333;
  -webkit-transition: 0.3s ease 0s;
  -moz-transition: 0.3s ease 0s;
  -ms-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  color: #FFFFFF;
}
.active-input:hover {
  background: #ed145b;
}
.active-input:active {
  background: #333333;
}
html,
body {
  height: 100%;
}
body {
  margin: 0 auto;
  max-width: 1920px;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #303030;
}
a:hover,
a:focus {
  text-decoration: none;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
  clear: both;
}
.clear:after {
  clear: both;
}
.clear {
  zoom: 1;
}
header {
  height: auto;
  width: 100%;
}
footer {
  height: auto;
  width: 100%;
}
button,
input,
img {
  outline: none;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: inset 0;
}
button:active,
input:active,
img:active {
  outline: none;
  border: none;
  outline: 0 !important;
}
button:focus,
input:focus,
img:focus {
  outline-color: transparent;
  outline-style: none;
  outline: 0 !important;
}
a {
  outline: none;
}
a :active {
  outline: none;
  outline: 0 !important;
}
a:focus {
  outline-color: transparent;
  outline-style: none;
  outline: 0 !important;
}
textarea {
  resize: none;
}
h1 {
  font-size: 36px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
h2 {
  font-size: 30px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}
h3 {
  font-size: 22px;
}
@media (max-width: 768px) {
  h3 {
    font-size: 18px;
  }
}
span.error {
  margin-bottom: -20px;
  float: left;
  font-size: 14px;
  text-align: left;
  color: #FF0000;
}
footer {
  float: left;
  max-height: 90px;
  margin-top: 90px;
  padding: 23px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  background: #272d3a;
}
footer .block-product-social {
  width: 270px;
  float: left;
}
footer .block-product-social .social {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 20px;
  font-size: 24px;
  text-align: center;
  background: #40434a;
  color: #93969d;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
footer .block-product-social .social i {
  margin-top: 10px;
}
footer .block-product-social .social:hover {
  background: #ed145b;
  color: #FFFFFF;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
footer .block-product-social .social:active {
  background: #333333;
  color: #FFFFFF;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
@media (max-width: 640px) {
  footer .block-product-social {
    margin: 0 auto;
    float: none;
  }
}
.navbar-default {
  max-height: 75px;
  padding: 12px 0;
  margin-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  background: #272d3a;
  border: none;
  border-radius: 0;
}
.navbar-default .navbar-nav li {
  border: 1px solid #ed145b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.navbar-default .navbar-nav li a {
  padding-bottom: 14px;
  padding-top: 10px;
  font-size: 22px;
  font-weight: 300;
}
.navbar-default .navbar-nav li a:hover {
  color: #fff;
}
.navbar-default .navbar-nav li a:active {
  color: #fff;
}
.navbar-default .navbar-nav li a:focus {
  color: #fff;
}
.navbar-default .navbar-nav li:hover {
  background: #ed145b;
}
.navbar-default .navbar-nav li:active {
  background: #333333;
}
.navbar-default .navbar-toggle {
  float: right;
  display: none;
}
@media only screen and (max-width: 992px) {
  .navbar-default .navbar-toggle {
    display: block;
  }
}
.navbar-default .navbar-collapse.collapse {
  display: block;
}
@media only screen and (max-width: 992px) {
  .navbar-default .navbar-collapse.collapse {
    display: none !important;
  }
}
@media only screen and (max-width: 992px) {
  .navbar-default .navbar-collapse.in {
    display: block !important;
  }
}
.navbar-header .navbar-brand {
  padding: 0 240px 0 0;
  -webkit-transition: 0.4s ease 0s;
  -moz-transition: 0.4s ease 0s;
  -ms-transition: 0.4s ease 0s;
  -o-transition: 0.4s ease 0s;
}
.navbar-header .navbar-brand img {
  margin: 0;
  height: 100%;
  display: block;
}
@media (max-width: 1220px) {
  .navbar-header .navbar-brand {
    padding: 0 120px 0 0;
    -webkit-transition: 0.4s ease 0s;
    -moz-transition: 0.4s ease 0s;
    -ms-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
  }
}
@media (max-width: 992px) {
  .navbar-header .navbar-brand {
    padding: 0 60px 0 0;
    -webkit-transition: 0.4s ease 0s;
    -moz-transition: 0.4s ease 0s;
    -ms-transition: 0.4s ease 0s;
    -o-transition: 0.4s ease 0s;
  }
}
@media only screen and (max-width: 992px) {
  .navbar-header {
    width: 100%;
    margin: 0!important;
  }
}
.navbar-form {
  margin: 0;
}
.navbar-form .form-group {
  position: relative;
}
.navbar-form .form-group .form-control {
  height: 44px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #272d3a;
  border: 1px solid #ed145b;
  padding: 6px 12px 6px 34px;
  max-width: 270px;
  color: #3f444e;
  font-size: 22px;
}
.navbar-form .form-group .form-control:focus {
  box-shadow: none;
  color: #FFFFFF;
}
.navbar-form .form-group .form-control:focus + i {
  color: #3d424e;
}
.navbar-form .form-group i {
  position: absolute;
  left: 10px;
  top: 14px;
  color: #FFFFFF;
  -webkit-transition: 0.4s ease 0s;
  -moz-transition: 0.4s ease 0s;
  -ms-transition: 0.4s ease 0s;
  -o-transition: 0.4s ease 0s;
}
.wrapper-user-face {
  float: right;
  margin: 6px -15px 0 0;
  text-decoration: none;
}
.wrapper-user-face span {
  float: left;
  margin-right: 14px;
  padding: 9px 0 0  0;
  color: #99a3b1;
  font-size: 14px;
}
.wrapper-user-face .user-face {
  float: right;
  height: 34px;
  width: 34px;
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.wrapper-user-face .user-face img {
  height: auto;
  width: 100%;
}
.title {
  float: left;
  width: 100%;
}
@media (max-width: 1200px) {
  .title {
    padding-left: 15px ;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.title h1 {
  float: left;
  margin: 27px 0 32px 0;
  font-weight: 300;
  color: #333333;
  text-align: left;
}
section {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
section .container {
  border: 1px solid #ed145b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fbfbfb;
}
section .container.create_new_project {
  padding-bottom: 60px ;
}
section .new-project {
  float: left;
  width: 100%;
  padding: 0 15px 60px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section .new-project h1 {
  margin: 30px 0 0 0;
  font-weight: normal;
  text-align: center;
  color: #333333;
}
@media (max-width: 768px) {
  section .new-project {
    padding-bottom: 30px;
  }
}
section .data-field {
  max-width: 970px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  section .data-field {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (max-width: 768px) {
  section .data-field {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
section .data-field:last-child {
  margin-bottom: 0;
}
section .field {
  float: left;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
}
section .field h3 {
  float: left;
  width: 100%;
  margin: 0 0 16px 0;
  text-align: left;
  font-weight: normal ;
  color: #696969;
}
section .field input {
  float: left;
  border: 1px solid #ed145b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 22px;
  color: #CCCCCC;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background: #fbfbfb;
}
section .field input:focus {
  color: #333333;
}
section .btn-default {
  float: right;
  margin: 0;
  border: 1px solid #ed145b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 22px;
  font-weight: 300;
  background: #fbfbfb;
  -webkit-transition: 0.4s ease 0s;
  -moz-transition: 0.4s ease 0s;
  -ms-transition: 0.4s ease 0s;
  -o-transition: 0.4s ease 0s;
}
section .btn-default:hover {
  background: #ed145b;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease 0s;
  -moz-transition: 0.3s ease 0s;
  -ms-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
}
section .btn-default:active {
  background: #333333;
  -webkit-transition: 0.3s ease 0s;
  -moz-transition: 0.3s ease 0s;
  -ms-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  color: #FFFFFF;
}
@media (max-width: 540px) {
  section .btn-default {
    width: 100%;
  }
}
@media (max-width: 768px) {
  section {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.wrapper-data-field {
  margin: 0 auto;
  width: 100%;
  max-width: 992px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper-data-field .field-left {
  float: left;
  width: 100%;
  max-width: 730px;
}
@media (max-width: 1200px) {
  .wrapper-data-field .field-left {
    max-width: 708px;
  }
}
@media (max-width: 992px) {
  .wrapper-data-field .field-left {
    max-width: 488px;
  }
}
@media (max-width: 768px) {
  .wrapper-data-field .field-left {
    max-width: 100%;
  }
}
.wrapper-data-field .img-face-user {
  float: left;
  padding: 40px 0 0 30px;
}
.wrapper-data-field .img-face-user .block-img {
  width: 200px;
  border: 1px solid #ed145b;
  height: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.wrapper-data-field .img-face-user .block-img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .wrapper-data-field .img-face-user .block-img {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    height: auto;
    max-height: 250px;
  }
}
@media (max-width: 768px) {
  .wrapper-data-field .img-face-user {
    width: 100%;
    padding: 0;
  }
}
.wrapper-data-field .list-active-project {
  float: left;
  width: 100%;
}
.wrapper-data-field .title-list {
  width: 100%;
  float: left;
  margin: 0 0 20px;
  font-size: 22px;
  color: #696969;
}
.wrapper-data-field .title-list span {
  border-bottom: 1px dashed #333333 ;
}
.list-project {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.list-project .available-comments {
  display: block;
  padding-left: 18px;
}
.list-project .available-comments i,
.list-project .available-comments span {
  color: #4a89d9;
}
.block-project {
  float: left;
  width: 100%;
  padding: 0 0 15px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.project {
  float: left;
  border-bottom: 1px solid #fbfbfb;
  color: #696969;
  text-decoration: none;
  font-size: 16px;
}
.project i,
.project span,
.project .available-comments {
  float: left;
}
.project i {
  padding-right: 5px;
  padding-top: 5px;
}
.project:hover i,
.project:hover span,
.project:hover .available-comments {
  color: #4a89d9;
}
.project:hover:hover {
  border-bottom: 1px solid #4a89d9;
}
.projects-archive {
  float: left;
  padding-top: 60px;
  width: 100%;
}
.block-btn {
  float: right;
  width: auto;
  padding: 60px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.block-btn .btn-default {
  width: 270px;
  float: left;
}
@media (max-width: 640px) {
  .block-btn .btn-default.btn-close {
    width: 100%;
    margin: 0;
  }
}
.block-btn .btn-default.btn-save {
  margin-right: 30px;
  border-color: #03c9a9;
}
.block-btn .btn-default.btn-save:hover {
  background: #03c9a9;
}
.block-btn .btn-default.btn-save:active {
  background: #333333;
}
@media (max-width: 640px) {
  .block-btn .btn-default.btn-save {
    width: 100%;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 640px) {
  .block-btn {
    width: 100%;
  }
}
