<div class="row bm-row padding-0 main-usertool-block">
    <div class="large-12 medium-12 small-12 columns  left ">
        <div class="main-list-instrument large-6 medium-8 small-10">
            <div class="left">
                <i class="fa fa-reply bm-prev"></i>
            </div>
            <div class="left">
                <i class="fa fa-share bm-next"></i>
            </div>
            <div class="left">
                <i class="fa fa-location-arrow bm-arrow"></i>
            </div>
            <div class="left">
                <i class="fa fa-pencil bm-pencil"></i>
            </div>
            <div class="left">
                <i class="fa fa-plus-square-o bm-piner"></i>
            </div>
            <div class="left">
                <i class="fa fa-file-image-o bm-image"></i>
            </div>
            <div class="left">
                <i class="fa fa-eye bm-eye"></i>
            </div>
        </div>
    </div>

    <div class="large-12 medium-12 small-12  padding-0 columns">
        <div id="image-container" class="centre-block-img large-12 medium-12 small-12 left">

            <div class="correction-comments-wrapper">
                <div class="correction-comments">
                    <button class="button-open-correction bm-open-tasks">
                        <i class="fa fa-angle-left"></i>
                    </button>
                </div>
            </div>
            <div class="large-3 medium-3 small-10 right-open-block columns padding-0 right ">
                <div class="panel panel-right left">
                    <div class="left small-12 medium-12 large-12 ">
                        <button class="button tiny   collapse-block-left left" name="hide-left">
                            <i class="fa fa-angle-right"></i>
                        </button>
                        <h5 class="right">Сообщение
                        </h5>
                    </div>
                    <div class="row row-tabs small-12 left">
                        <div class="small-12 columns  padding-0">
                            <ul class="tabs show-for-medium-up  small-12" data-tab>
                                <li class="tab-title active ">
                                    <a href="#panel1">All</a>
                                </li>
                                <li class="tab-title ">
                                    <a href="#panel2">To do</a>
                                </li>
                                <li class="tab-title ">
                                    <a href="#panel3">Resolved</a>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class=" accordion-main large-12 left">
                        <ul class="accordion " data-accordion>
                            <li class=" accordion-navigation list-accordion  left small-12 medium-12 large-12">
                                <span>1</span>
                                <div class="navigation-accordion ">
                                    <i class="fa fa-chevron-circle-down"></i>
                                    <i class="fa fa-chevron-circle-up"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                                <div class="open-block large-12 left  ">
                                    <img class="left noselect" src="/front/assets/avatar.png">
                                    <p class="title-open-block large-5 ">
                                        User Name
                                    </p>
                                    <button class="button tiny statys collapse-block-left bm-close-tasks right" name="hide-left">
                                        To do
                                    </button>
                                    <p class="time-message left">
                                        Time: 10:00
                                    </p>
                                    <p class="block-message">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla quam
                                        velit, vulputate eu pharetra nec, mattis ac
                                        neque. Duis
                                    </p>
                                    <button class="button tiny   collapse-block-left right" name="hide-left">
                                        Resolved
                                    </button>
                                </div>
                            </li>
                            <li class=" accordion-navigation list-accordion left small-12 medium-12 large-12">
                                <span>2</span>
                                <div class="navigation-accordion">
                                    <i class="fa fa-chevron-circle-down"></i>
                                    <i class="fa fa-chevron-circle-up"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                                <div class="open-block large-12 left  ">
                                    <img class="left" src="/front/assets/avatar.png">
                                    <p class="title-open-block large-5 ">
                                        User Name
                                    </p>
                                    <button class="button tiny statys collapse-block-left right" name="hide-left">
                                        To do
                                    </button>
                                    <p class="time-message left">
                                        Time: 10:00
                                    </p>
                                    <p class="block-message">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla quam
                                        velit, vulputate eu pharetra nec, mattis ac
                                        neque. Duis
                                    </p>
                                    <button class="button tiny   collapse-block-left right" name="hide-left">
                                        Resolved
                                    </button>
                                </div>
                            </li>
                            <li class="accordion-navigation list-accordion left small-12 medium-12 large-12">
                                <span>3</span>
                                <div class="navigation-accordion">
                                    <i class="fa fa-chevron-circle-down"></i>
                                    <i class="fa fa-chevron-circle-up"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                                <div class="open-block large-12 left  ">
                                    <img class="left" src="/front/assets/avatar.png">
                                    <p class="title-open-block large-5 ">
                                        User Name
                                    </p>
                                    <button class="button tiny statys collapse-block-left right" name="hide-left">
                                        To do
                                    </button>
                                    <p class="time-message left">
                                        Time: 10:00
                                    </p>
                                    <p class="block-message">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla quam
                                        velit, vulputate eu pharetra nec, mattis ac
                                        neque. Duis
                                    </p>
                                    <button class="button tiny   collapse-block-left right" name="hide-left">
                                        Resolved
                                    </button>
                                </div>
                            </li>
                            <li class="accordion-navigation list-accordion left small-12 medium-12 large-12">
                                <span>4</span>
                                <div class="navigation-accordion">
                                    <i class="fa fa-chevron-circle-down"></i>
                                    <i class="fa fa-chevron-circle-up"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                                <div class="open-block large-12 left  ">
                                    <img class="left" src="/front/assets/avatar.png">
                                    <p class="title-open-block large-5 ">
                                        User Name
                                    </p>
                                    <button class="button tiny statys collapse-block-left right" name="hide-left">
                                        To do
                                    </button>
                                    <p class="time-message left">
                                        Time: 10:00
                                    </p>
                                    <p class="block-message">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla quam
                                        velit, vulputate eu pharetra nec, mattis ac
                                        neque. Duis
                                    </p>
                                    <button class="button tiny   collapse-block-left right" name="hide-left">
                                        Resolved
                                    </button>
                                </div>
                            </li>
                            <li class="accordion-navigation list-accordion left small-12 medium-12 large-12">
                                <span>5</span>
                                <div class="navigation-accordion">
                                    <i class="fa fa-chevron-circle-down"></i>
                                    <i class="fa fa-chevron-circle-up"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                                <div class="open-block large-12 left  ">
                                    <img class="left" src="/front/assets/avatar.png">
                                    <p class="title-open-block large-5 ">
                                        User Name
                                    </p>
                                    <button class="button tiny statys collapse-block-left right" name="hide-left">
                                        To do
                                    </button>
                                    <p class="time-message left">
                                        Time: 10:00
                                    </p>
                                    <p class="block-message">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla quam
                                        velit, vulputate eu pharetra nec, mattis ac
                                        neque. Duis
                                    </p>
                                    <button class="button tiny   collapse-block-left right" name="hide-left">
                                        Resolved
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <canvas id="canvas" class="canvas noselect image-with-canvas-canvas" ></canvas>
            <img class="large-12 noselect image-with-canvas-image" src="<%= model.get('image') %>">
        </div>
    </div>

    <div class="large-12 columns padding-0 left block-list-project">
        <div class="main-list-img large-12 medium-12 small-12 left">
            <button  class="button left button-left">
                <i class="fa fa-angle-left"></i>
            </button>
            <ul class="list-project left large-12 ">
                <li>
                    <img src="/front/assets/avatar.png">
                </li>
                <li>
                    <img src="/front/assets/avatar.png">
                </li>
                <li>
                    <img src="/front/assets/avatar.png">
                </li>
                <li>
                    <img src="/front/assets/avatar.png">
                </li>
                <li>
                    <img src="/front/assets/avatar.png">
                </li>
                <li>
                    <img src="/front/assets/avatar.png">
                </li>
                <li>
                    <img src="/front/assets/avatar.png">
                </li>
                <li>
                    <img src="/front/assets/avatar.png">
                </li>
                <li>
                    <img src="/front/assets/avatar.png">
                </li>
                <li>
                    <img src="/front/assets/avatar.png">
                </li>
                <li>
                    <img src="/front/assets/avatar.png">
                </li>
                <li>
                    <img src="/front/assets/avatar.png">
                </li>
            </ul>
            <button  class="button right button-right">
                <i class="fa fa-angle-right"></i></button>
        </div>
    </div>
</div>

    <style>
        .message-number {
            cursor: pointer;
        }
        .message-number:before {
            display: none;
        }
        .expand .message-number:before {
            display: block;
        }
        .click-message {
            display: none;
        }
        .expand .click-message {
            display: block;
        }
        .noselect {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
