<!--<div id="" class="main-click-message   ">-->
    <p class="message-number noselect">1</p>
    <div class="click-message left">
        <div class="comments-block no-comments left large-12 small-12 medium-12 ">
            <!--<div class="field-comments left large-12 small-12 medium-12">-->
                <!--<a class="name-user left large-5 small-12 medium-5" href="/">-->
                    <!--User name-->
                <!--</a>-->
                <!--<p class="data-comments right large-7 small-5 medium-5">-->
                    <!--01/09/2015 09:00-->
                <!--</p>-->
                <!--<p class="comments-text left large-12 small-12 medium-12 ">-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam-->
                    <!--velit, vulputate eu pharetra-->
                <!--</p>-->
                <!--<div class="edit-text left large-12 small-12 medium-12">-->
                    <!--<button class="pencil">-->
                        <!--<i class="fa fa-pencil-square-o pencil"></i>-->
                    <!--</button>-->
                    <!--<button class="trash">-->
                        <!--<i class="fa fa-trash-o trash"></i>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="field-comments left large-12 small-12 medium-12">-->
                <!--<a class="name-user left large-5 small-12 medium-5" href="/">-->
                    <!--User name-->
                <!--</a>-->
                <!--<p class="data-comments right large-7 small-5 medium-5">-->
                    <!--01/09/2015 09:00-->
                <!--</p>-->
                <!--<p class="comments-text left large-12 small-12 medium-12 ">-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam-->
                    <!--velit, vulputate eu pharetra-->
                <!--</p>-->
                <!--<div class="edit-text left large-12 small-12 medium-12">-->
                    <!--<button class="pencil">-->
                        <!--<i class="fa fa-pencil-square-o pencil"></i>-->
                    <!--</button>-->
                    <!--<button class="trash">-->
                        <!--<i class="fa fa-trash-o trash"></i>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="field-comments left large-12 small-12 medium-12">-->
                <!--<a class="name-user left large-5 small-12 medium-5" href="/">-->
                    <!--User name-->
                <!--</a>-->
                <!--<p class="data-comments right large-7 small-5 medium-5">-->
                    <!--01/09/2015 09:00-->
                <!--</p>-->
                <!--<p class="comments-text left large-12 small-12 medium-12 ">-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam-->
                    <!--velit, vulputate eu pharetra-->
                <!--</p>-->
                <!--<div class="edit-text left large-12 small-12 medium-12">-->
                    <!--<button class="pencil">-->
                        <!--<i class="fa fa-pencil-square-o pencil"></i>-->
                    <!--</button>-->
                    <!--<button class="trash">-->
                        <!--<i class="fa fa-trash-o trash"></i>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="field-text left large-12 small-12 medium-12 ">
            <textarea placeholder="Message"></textarea>
            <button class="button tiny button-click collapse-block-left " name="hide-left">
                Готово
            </button>
        </div>
    </div>

<!--</div>-->