<div class="row">
    <div class="large-12 main-add-page">
        <h1 class="title-add-project"></h1>
        <div class="large-3 medium-5 small-12 block-add-project left">
            <img src="/front/assets/PC.jpg">
            </div>
        <div class="large-3 medium-5 small-12 block-add-project left">
            <img src="/front/assets/drop-box.png">
        </div>
        <div class="large-3 medium-5 small-12 block-add-project left">
            <img src="/front/assets/googl-disk.png">
        </div>

        </div>
</div>