<form>
    <div class="row">
        <div class="large-12 small-12 padding-0 columns">
            <label>Email
                <input name="email" type="text" placeholder="example@mail.com" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 small-12 padding-0 columns">
            <label> Пароль
                <input type="password" name="password" placeholder="***********" />
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 medium-6 small-12 padding-0 password-form columns">
            <button class="button large-12 medium-12 small-12 ">Авторизация </button>
        </div>
    </div>

</form>