<form>
    <div class="text-center bm-auth-fields large-12 medium-12 row">
        <div class="columns text-center">
            <div class="large-6 columns">
                <label>Email</label>
                <input name="email" type="text" placeholder="example@mail.com" />

            </div>
        </div>
        <div class="columns text-center">
            <div class="large-6 columns">
                <label>Пароль</label>
                <input name="password" type="text" placeholder="******" />

            </div>
        </div>
        <div class="columns text-center">
            <div class="large-6 columns">
                <button class="button expand">Войти</button>
            </div>
        </div>

    </div>
</form>