<section class="panel left large-12 medium-12 small-12">
    <div class=" block-new_project left large-12 medium-12 small-12 ">
        <form class="create-form" novalidate>
            <h2 class="title-new_project">
                Create new project
            </h2>
            <div class="row registration-project">
                <div class="large-12 small-12 padding-0 columns">
                    <label>
                        <p>Project title</p>
                        <input class="" name="name" type="text" placeholder="add title" />
                    </label>
                </div>
            </div>
            <div class="row registration-project">
                <div class="large-12 small-12 padding-0 columns">
                    <label>
                        <p>Add user</p>
                        <input class="" type="email" name="users" placeholder="example@mail.com" />
                    </label>
                </div>
            </div>

            <div class="row registration-project">
                <div class="large-12 medium-12 small-12 padding-0 registration-project-button columns">
                    <button class="button  button-create-project large-12 medium-12 small-12 ">Create project</button>
                </div>
            </div>

        </form>
    </div>
</section>

