    <div class="correction-comments-wrapper">
        <div class="correction-comments">
            <button class="button-open-correction">
                <i class="fa fa-angle-left"></i>
            </button>
        </div>
    </div>
<div class="large-3 right-open-block columns padding-0 right ">
    <div class="panel panel-right left">
        <div class="left small-12 medium-12 large-12 ">
            <button class="button tiny   collapse-block-left left" name="hide-left">
                <i class="fa fa-angle-right"></i>
            </button>
            <h5 class="right">Сообщение
            </h5>
        </div>
        <div class="row row-tabs small-12 left">
            <div class="small-12 columns  padding-0">
                <ul class="tabs show-for-medium-up  small-12" data-tab>
                    <li class="tab-title active ">
                        <a href="#panel1">All</a>
                    </li>
                    <li class="tab-title ">
                        <a href="#panel2">To do</a>
                    </li>
                    <li class="tab-title ">
                        <a href="#panel3">Resolved</a>
                    </li>
                </ul>

            </div>
        </div>

        <div class=" accordion-main large-12 left">
            <ul class="accordion " data-accordion>
                <li class=" accordion-navigation list-accordion  left large-12">
                    <span>1</span>
                    <div class="navigation-accordion ">
                        <i class="fa fa-chevron-circle-down"></i>
                        <i class="fa fa-chevron-circle-up"></i>
                        <i class="fa fa-trash-o"></i>
                    </div>
                    <div class="open-block large-12 left  ">
                        <img class="left" src="/front/assets/avatar.png">
                        <p class="title-open-block large-5 ">
                            User Name
                        </p>
                        <button class="button tiny statys collapse-block-left right" name="hide-left">
                            To do
                        </button>
                        <p class="time-message left">
                            Time: 10:00
                        </p>
                        <p class="block-message">
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Nulla quam
                            velit, vulputate eu pharetra nec, mattis ac
                            neque. Duis
                        </p>
                        <button class="button tiny   collapse-block-left right" name="hide-left">
                            Resolved
                        </button>
                    </div>
                </li>
                <li class=" accordion-navigation list-accordion left large-12">
                    <span>2</span>
                    <div class="navigation-accordion">
                        <i class="fa fa-chevron-circle-down"></i>
                        <i class="fa fa-chevron-circle-up"></i>
                        <i class="fa fa-trash-o"></i>
                    </div>
                    <div class="open-block large-12 left  ">
                        <img class="left" src="/front/assets/avatar.png">
                        <p class="title-open-block large-5 ">
                            User Name
                        </p>
                        <button class="button tiny statys collapse-block-left right" name="hide-left">
                            To do
                        </button>
                        <p class="time-message left">
                            Time: 10:00
                        </p>
                        <p class="block-message">
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Nulla quam
                            velit, vulputate eu pharetra nec, mattis ac
                            neque. Duis
                        </p>
                        <button class="button tiny   collapse-block-left right" name="hide-left">
                            Resolved
                        </button>
                    </div>
                </li>
                <li class="accordion-navigation list-accordion left large-12">
                    <span>3</span>
                    <div class="navigation-accordion">
                        <i class="fa fa-chevron-circle-down"></i>
                        <i class="fa fa-chevron-circle-up"></i>
                        <i class="fa fa-trash-o"></i>
                    </div>
                    <div class="open-block large-12 left  ">
                        <img class="left" src="/front/assets/avatar.png">
                        <p class="title-open-block large-5 ">
                            User Name
                        </p>
                        <button class="button tiny statys collapse-block-left right" name="hide-left">
                            To do
                        </button>
                        <p class="time-message left">
                            Time: 10:00
                        </p>
                        <p class="block-message">
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Nulla quam
                            velit, vulputate eu pharetra nec, mattis ac
                            neque. Duis
                        </p>
                        <button class="button tiny   collapse-block-left right" name="hide-left">
                            Resolved
                        </button>
                    </div>
                </li>
                <li class="accordion-navigation list-accordion left large-12">
                    <span>4</span>
                    <div class="navigation-accordion">
                        <i class="fa fa-chevron-circle-down"></i>
                        <i class="fa fa-chevron-circle-up"></i>
                        <i class="fa fa-trash-o"></i>
                    </div>
                    <div class="open-block large-12 left  ">
                        <img class="left" src="/front/assets/avatar.png">
                        <p class="title-open-block large-5 ">
                            User Name
                        </p>
                        <button class="button tiny statys collapse-block-left right" name="hide-left">
                            To do
                        </button>
                        <p class="time-message left">
                            Time: 10:00
                        </p>
                        <p class="block-message">
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Nulla quam
                            velit, vulputate eu pharetra nec, mattis ac
                            neque. Duis
                        </p>
                        <button class="button tiny   collapse-block-left right" name="hide-left">
                            Resolved
                        </button>
                    </div>
                </li>
                <li class="accordion-navigation list-accordion left large-12">
                    <span>5</span>
                    <div class="navigation-accordion">
                        <i class="fa fa-chevron-circle-down"></i>
                        <i class="fa fa-chevron-circle-up"></i>
                        <i class="fa fa-trash-o"></i>
                    </div>
                    <div class="open-block large-12 left  ">
                        <img class="left" src="/front/assets/avatar.png">
                        <p class="title-open-block large-5 ">
                            User Name
                        </p>
                        <button class="button tiny statys collapse-block-left right" name="hide-left">
                            To do
                        </button>
                        <p class="time-message left">
                            Time: 10:00
                        </p>
                        <p class="block-message">
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Nulla quam
                            velit, vulputate eu pharetra nec, mattis ac
                            neque. Duis
                        </p>
                        <button class="button tiny   collapse-block-left right" name="hide-left">
                            Resolved
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>






<div id="" class="main-click-message   ">
    <p class="message-number">1</p>
    <div class="click-message left">
        <!--<div class="field-tool left large-12">-->
            <!--<i class="fa fa-eye"></i>-->
            <!--<i class="fa fa-trash-o"></i>-->
        <!--</div>-->
        <div class="comments-block two-comments left large-12 small-12 medium-12 ">
                <div class="field-comments left large-12 small-12 medium-12">
                     <a class="name-user left large-5 small-12 medium-5" href="/" >
                        User name
                     </a>
                    <p class="data-comments right large-7 small-5 medium-5">
                        01/09/2015 09:00
                    </p>
                    <p class="comments-text left large-12 small-12 medium-12 ">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                     velit, vulputate eu pharetra
                    </p>
                    <div class="edit-text left large-12 small-12 medium-12">
                        <button class="pencil">
                            <i class="fa fa-pencil-square-o pencil"></i>
                        </button>
                        <button class="trash">
                            <i class="fa fa-trash-o trash"></i>
                        </button>
                     </div>
                </div>
                <div class="field-comments left large-12 small-12 medium-12">
                    <a class="name-user left large-5 small-12 medium-5" href="/" >
                    User name
                    </a>
                    <p class="data-comments right large-7 small-5 medium-5">
                    01/09/2015 09:00
                    </p>
                    <p class="comments-text left large-12 small-12 medium-12 ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                    velit, vulputate eu pharetra
                    </p>
                    <div class="edit-text left large-12 small-12 medium-12">
                        <button class="pencil">
                            <i class="fa fa-pencil-square-o pencil"></i>
                        </button>
                        <button class="trash">
                            <i class="fa fa-trash-o trash"></i>
                        </button>
                    </div>
                </div>
                <div class="field-comments left large-12 small-12 medium-12">
                    <a class="name-user left large-5 small-12 medium-5" href="/" >
                        User name
                    </a>
                    <p class="data-comments right large-7 small-5 medium-5">
                        01/09/2015 09:00
                    </p>
                    <p class="comments-text left large-12 small-12 medium-12 ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                        velit, vulputate eu pharetra
                    </p>
                    <div class="edit-text left large-12 small-12 medium-12">
                        <button class="pencil">
                            <i class="fa fa-pencil-square-o pencil"></i>
                        </button>
                        <button class="trash">
                            <i class="fa fa-trash-o trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        <div class="field-text left large-12 small-12 medium-12 ">
            <textarea placeholder="Message"></textarea>
            <button class="button tiny button-click   collapse-block-left " name="hide-left">
                Resolved
            </button>
        </div>
    </div>
</div>

<div id="" class="main-click-message click-right ">
    <p class="message-number">2</p>
    <div class="click-message left">
        <!--<div class="field-tool left large-12">-->
            <!--<i class="fa fa-eye"></i>-->
            <!--<i class="fa fa-trash-o"></i>-->
        <!--</div>-->
        <div class="comments-block left large-12 small-12 medium-12 ">
            <div class="field-comments left large-12 small-12 medium-12">
                <a class="name-user left large-5 small-12 medium-5" href="/" >
                    User name
                </a>
                <p class="data-comments right large-7 small-5 medium-5">
                    01/09/2015 09:00
                </p>
                <p class="comments-text left large-12 small-12 medium-12 ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                    velit, vulputate eu pharetra
                </p>
                <div class="edit-text left large-12 small-12 medium-12">
                    <button class="pencil">
                        <i class="fa fa-pencil-square-o pencil"></i>
                    </button>
                    <button class="trash">
                        <i class="fa fa-trash-o trash"></i>
                    </button>
                </div>
            </div>
            <div class="field-comments left large-12 small-12 medium-12">
                <a class="name-user left large-5 small-12 medium-5" href="/" >
                    User name
                </a>
                <p class="data-comments right large-7 small-5 medium-5">
                    01/09/2015 09:00
                </p>
                <p class="comments-text left large-12 small-12 medium-12 ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                    velit, vulputate eu pharetra
                </p>
                <div class="edit-text left large-12 small-12 medium-12">
                    <button class="pencil">
                        <i class="fa fa-pencil-square-o pencil"></i>
                    </button>
                    <button class="trash">
                        <i class="fa fa-trash-o trash"></i>
                    </button>
                </div>
            </div>
            <div class="field-comments left large-12 small-12 medium-12">
                <a class="name-user left large-5 small-12 medium-5" href="/" >
                    User name
                </a>
                <p class="data-comments right large-7 small-5 medium-5">
                    01/09/2015 09:00
                </p>
                <p class="comments-text left large-12 small-12 medium-12 ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                    velit, vulputate eu pharetra
                </p>
                <div class="edit-text left large-12 small-12 medium-12">
                    <button class="pencil">
                        <i class="fa fa-pencil-square-o pencil"></i>
                    </button>
                    <button class="trash">
                        <i class="fa fa-trash-o trash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="field-text left large-12 small-12 medium-12 ">
            <textarea placeholder="Message"></textarea>
            <button class="button tiny button-click   collapse-block-left " name="hide-left">
                Resolved
            </button>
        </div>
    </div>
</div>
<div id="" class="main-click-message click-bottom-left ">
    <p class="message-number">3</p>
    <div class="click-message left">
        <!--<div class="field-tool left large-12">-->
            <!--<i class="fa fa-eye"></i>-->
            <!--<i class="fa fa-trash-o"></i>-->
        <!--</div>-->
        <div class="comments-block left large-12 small-12 medium-12 ">
            <div class="field-comments left large-12 small-12 medium-12">
                <a class="name-user left large-5 small-12 medium-5" href="/" >
                    User name
                </a>
                <p class="data-comments right large-7 small-5 medium-5">
                    01/09/2015 09:00
                </p>
                <p class="comments-text left large-12 small-12 medium-12 ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                    velit, vulputate eu pharetra
                </p>
                <div class="edit-text left large-12 small-12 medium-12">
                    <button class="pencil">
                        <i class="fa fa-pencil-square-o pencil"></i>
                    </button>
                    <button class="trash">
                        <i class="fa fa-trash-o trash"></i>
                    </button>
                </div>
            </div>
            <div class="field-comments left large-12 small-12 medium-12">
                <a class="name-user left large-5 small-12 medium-5" href="/" >
                    User name
                </a>
                <p class="data-comments right large-7 small-5 medium-5">
                    01/09/2015 09:00
                </p>
                <p class="comments-text left large-12 small-12 medium-12 ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                    velit, vulputate eu pharetra
                </p>
                <div class="edit-text left large-12 small-12 medium-12">
                    <button class="pencil">
                        <i class="fa fa-pencil-square-o pencil"></i>
                    </button>
                    <button class="trash">
                        <i class="fa fa-trash-o trash"></i>
                    </button>
                </div>
            </div>
            <div class="field-comments left large-12 small-12 medium-12">
                <a class="name-user left large-5 small-12 medium-5" href="/" >
                    User name
                </a>
                <p class="data-comments right large-7 small-5 medium-5">
                    01/09/2015 09:00
                </p>
                <p class="comments-text left large-12 small-12 medium-12 ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                    velit, vulputate eu pharetra
                </p>
                <div class="edit-text left large-12 small-12 medium-12">
                    <button class="pencil">
                        <i class="fa fa-pencil-square-o pencil"></i>
                    </button>
                    <button class="trash">
                        <i class="fa fa-trash-o trash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="field-text left large-12 small-12 medium-12 ">
            <textarea placeholder="Message"></textarea>
            <button class="button tiny button-click   collapse-block-left " name="hide-left">
                Resolved
            </button>
        </div>
    </div>
</div>
<div id="" class="main-click-message click-bottom-right ">
    <p class="message-number">4</p>
    <div class="click-message left">
        <!--<div class="field-tool left large-12">-->
            <!--<i class="fa fa-eye"></i>-->
            <!--<i class="fa fa-trash-o"></i>-->
        <!--</div>-->
        <div class="comments-block two-comments left large-12 small-12 medium-12 ">
            <div class="field-comments left large-12 small-12 medium-12">
                <a class="name-user left large-5 small-12 medium-5" href="/" >
                    User name
                </a>
                <p class="data-comments right large-7 small-5 medium-5">
                    01/09/2015 09:00
                </p>
                <p class="comments-text left large-12 small-12 medium-12 ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                    velit, vulputate eu pharetra
                </p>
                <div class="edit-text left large-12 small-12 medium-12">
                    <button class="pencil">
                        <i class="fa fa-pencil-square-o pencil"></i>
                    </button>
                    <button class="trash">
                        <i class="fa fa-trash-o trash"></i>
                    </button>
                </div>
            </div>
            <div class="field-comments left large-12 small-12 medium-12">
                <a class="name-user left large-5 small-12 medium-5" href="/" >
                    User name
                </a>
                <p class="data-comments right large-7 small-5 medium-5">
                    01/09/2015 09:00
                </p>
                <p class="comments-text left large-12 small-12 medium-12 ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                    velit, vulputate eu pharetra
                </p>
                <div class="edit-text left large-12 small-12 medium-12">
                    <button class="pencil">
                        <i class="fa fa-pencil-square-o pencil"></i>
                    </button>
                    <button class="trash">
                        <i class="fa fa-trash-o trash"></i>
                    </button>
                </div>
            </div>
            <div class="field-comments left large-12 small-12 medium-12">
                <a class="name-user left large-5 small-12 medium-5" href="/" >
                    User name
                </a>
                <p class="data-comments right large-7 small-5 medium-5">
                    01/09/2015 09:00
                </p>
                <p class="comments-text left large-12 small-12 medium-12 ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam
                    velit, vulputate eu pharetra
                </p>
                <div class="edit-text left large-12 small-12 medium-12">
                    <button class="pencil">
                        <i class="fa fa-pencil-square-o pencil"></i>
                    </button>
                    <button class="trash">
                        <i class="fa fa-trash-o trash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="field-text left large-12 small-12 medium-12 ">
            <textarea placeholder="Message"></textarea>
            <button class="button tiny button-click   collapse-block-left " name="hide-left">
                Resolved
            </button>
        </div>
    </div>
</div>
<canvas id="canvas" class="canvas image-with-canvas-canvas" ></canvas>
<!--<div class="message-img"></div>--><img class="large-12 image-with-canvas-image" src="{{image}}">
<style>

</style>
