<div id="" class="main-click-message" style="position:absolute; z-index: 1000">
    <p class="message-number">1</p>
    <div class="click-message left">
        <div class="field-tool left large-12">
            <i class="fa fa-eye"></i>
            <i class="fa fa-trash-o"></i>
        </div>
        <div class="field-text left large-12 ">
            <textarea placeholder="Message"></textarea>
        </div>
        </div>
</div>
<canvas id="canvas" class="canvas image-with-canvas-canvas" ></canvas>
<!--<div class="message-img"></div>--><img class="large-12 image-with-canvas-image" src="{{image}}">
<!--<style>-->
    <!--.dot-pin {-->
        <!--position: absolute;-->
    <!--}-->
    <!--.square-pin {-->
        <!--position: absolute;-->
        <!--border: 5px solid red;-->
    <!--}-->
<!--</style>-->
