<form>
    <div class="row block-registration-input">
        <div class="large-12 medium-12 small-12 padding-0 columns">
            <label>
                <p>Имя</p>
                <input name="name" type="text" placeholder="Martin Garrix" />
            </label>
        </div>
    </div>
    <div class="row block-registration-input">
        <div class="large-12 medium-12 small-12 padding-0 columns">
            <label>
                <p>Пароль</p>
                <input name="password" type="password" placeholder="***********" />
            </label>
        </div>
    </div>
    <div class="row block-registration-input">
        <div class="large-12 medium-12 small-12 padding-0 password-form columns">
            <label>
                <p>Повторить пароль</p>
                <input name="repeat" type="password" placeholder="***********" />
            </label>
        </div>

    </div>
    <div class="row block-registration-input">
        <div class="large-6 small-12 password-form padding-0 columns">
            <label>
                <p>Ваш email:</p>
                <input name="email" type="text" placeholder="example@gmail.com" />
            </label>
        </div>
    </div>
    <div class="row block-registration-input">
        <div class="large-12 medium-12 small-12 padding-0 columns">
            <p>Подписка на новости</p>
            <input name="options[subscribe]" type="checkbox" value="" id="pokemonRed"><label for="pokemonRed"></label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 medium-12 small-12  password-form padding-0 columns">
            <button class="button button-registration large-12 medium-12 small-12  ">Регистрация </button>
        </div>
    </div>

</form>