<form>
    <div class="row">
        <div class="large-6 columns">
            <label>Пароль
                <input type="text" placeholder="Пароль" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-6 small-12 password-form columns">
            <label>Повторить пароль
                <input type="text" placeholder="Повторить пароль" />
            </label>
        </div>

    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="large-6 columns">
            <label>Choose Your Favorite</label>
            <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
        </div>
    </div>
    <div class="row">
        <div class="large-6 small-12 password-form columns">
            <label>Ваш email:
                <input type="text" placeholder="Повторить пароль" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-6 small-12 password-form columns">
            <a href="#" class="button ">Sign Up! </a>
        </div>
    </div>

</form>