<form>
    <div class="row">
        <div class="large-12 medium-12 small-12 padding-0 columns">
            <label>Имя
                <input name="name" type="text" placeholder="Martin Garrix" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 medium-12 small-12 padding-0 columns">
            <label> Пароль
                <input name="password" type="password" placeholder="***********" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 medium-12 small-12 padding-0 password-form columns">
            <label>Повторить пароль
                <input name="repeat" type="password" placeholder="***********" />
            </label>
        </div>

    </div>
    <div class="row">
        <div class="large-6 small-12 password-form padding-0 columns">
            <label>Ваш email:
                <input name="email" type="text" placeholder="example@gmail.com" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 medium-12 small-12 padding-0 columns">
            <label>Подписка на новости</label>
            <input name="options[subscribe]" type="checkbox" value="" id="pokemonRed"><label for="pokemonRed"></label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 medium-12 small-12  password-form padding-0 columns">
            <button class="button large-12 medium-12 small-12  ">Регистрация </button>
        </div>
    </div>

</form>