<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/front/bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" href="/front/bower_components/foundation/css/foundation.css">
    <link rel="stylesheet" href="/front/assets/style/spinner.css">
    <link rel="stylesheet" href="/front/assets/style/style.css">
</head>
<body>
    <h1 class="bm-header">Проекты</h1>
    <section class="panel large-12 middle-12  small-12">
        <form>
            <div class="row">
                <div class="large-12 medium-12 small-12 padding-0 columns">
                    <label>Имя
                        <input name="name" type="text" placeholder="Martin Garrix" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 medium-12 small-12 padding-0 columns">
                    <label> Пароль
                        <input type="password" name="password" placeholder="***********" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 medium-12 small-12 padding-0 password-form columns">
                    <label>Повторить пароль
                        <input name="repeat-password" type="password" placeholder="***********" />
                    </label>
                </div>

            </div>
            <div class="row">
                <div class="large-12 small-12 password-form padding-0 columns">
                    <label>Ваш email:
                        <input type="text" name="email" placeholder="example@gmail.com" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 medium-12 small-12 padding-0 columns">
                    <label>Подписка на новости</label>
                    <input type="checkbox" name="pokemon" value="" id="pokemonRed"><label for="pokemonRed"></label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 medium-12 small-12  password-form padding-0 columns">
                    <a href="#" class="button large-12 medium-12 small-12  ">Регистрация </a>
                </div>
            </div>

        </form>
    </section>
</body>

</html>



