
<section class="panel">
        <div class="row bm-row padding-0 main-usertool-block">
            <div class="large-12 medium-12 small-12 columns  left ">
                <div class="main-list-instrument large-6 medium-8 small-10">
                    <div class="left">
                        <i class="fa fa-reply bm-prev"></i>
                    </div>
                    <div class="left">
                        <i class="fa fa-share bm-next"></i>
                    </div>
                    <div class="left">
                        <i class="fa fa-location-arrow bm-arrow"></i>
                    </div>
                    <div class="left">
                        <i class="fa fa-pencil bm-pencil"></i>
                    </div>
                    <div class="left">
                        <i class="fa fa-plus-square-o bm-piner"></i>
                    </div>
                    <div class="left">
                        <i class="fa fa-file-image-o bm-image"></i>
                    </div>
                    <div class="left">
                        <i class="fa fa-eye bm-eye"></i>
                    </div>
                </div>
                </div>

            <div class="large-12 medium-12 small-12  padding-0 columns">
                <div id="image-container" class="centre-block-img large-12 medium-12 small-12 left">
                </div>
            </div>

            <div class="large-12 columns padding-0 left block-list-project">
                <div class="main-list-img large-12 medium-12 small-12 left">
                    <button  class="button left button-left">
                        <i class="fa fa-angle-left"></i>
                       </button>
                    <ul class="list-project left large-12 ">
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                    </ul>
                    <button  class="button right button-right">
                        <i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
</section>