
<section class="panel">
        <div class="row bm-row main-usertool-block">
                <div class="large-3 columns padding-0 left ">
                    <div class="panel panel-left left">
                        <div class="left small-12 medium-12 large-12 ">
                        <h5 class="left">Название проекта
                            </h5>
                        <button class="button tiny   collapse-block-left right" name="hide-left">
                            <i class="fa fa-angle-left"></i>
                        </button>
                            </div>
                        <div class="row bm-user-block bm-list-project small-12 medium-12 large-12">
                            <div class="bm-user medium-1 small-4 columns pointer">
                                <img src="/front/assets/avatar.png">
                            </div>
                            <div class="bm-user medium-1 small-4 columns pointer">
                                <img src="/front/assets/avatar.png">
                            </div>
                            <div class="bm-user medium-1 small-4 columns pointer">
                                <img src="/front/assets/avatar.png">
                            </div>
                            <div class="bm-user medium-1 small-4 columns pointer">
                                <img src="/front/assets/avatar.png">
                            </div>
                            <!--<div class="bm-user medium-1 small-4 columns pointer">-->
                                <!--<img src="http://www.racialequityresourceguide.org/images/icons-small/icon-sm-add.png">-->
                            <!--</div>-->
                            <button class="button tiny  collapse-block-left right">
                                add
                            </button>
                        </div>
                        <div class="section-container  vertical-nav" data-section data-options="deep_linking: false; one_up: true">
                            <section class="section user-name medium-12 small-12 large-12">
                                <a class="left" href="#">Koenigseg</a>
                                <p class="message">Все отлично</p>
                                <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12 ">
                                <a href="#">Volvo</a>
                                <p class="message">Все отлично</p>
                                <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a href="#">Saab</a>
                                <p class="message">Все отлично</p>
                                <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                               <a href="#">GMS</a>
                                <p class="message">Все отлично</p>
                                <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a href="#">BMW</a>
                                <p class="message">Все отлично</p>
                                 <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a  href="#">Honda</a>
                                <p class=message">Все отлично</p>
                                <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a href="#">Jaguar</a>
                                <p class="message">Все отлично</p>
                                 <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a href="#">Ford</a>
                                <p class="message">Все отлично</p>
                                 <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a href="#">Opel</a>
                                <p class="message">Все отлично</p>
                                 <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a href="#">Mitsubishi</a>
                                <p class="message">Все отлично</p>
                                 <p class="time-message">12:38</p>
                            </section>
                        </div>
                        <div class=" text-message large-12 medium-12 small-12 padding-0 left">
                            <div class="large-12 padding-0 columns">
                                    <textarea placeholder="Ваше сообщение "></textarea>
                                <button href="#" class="button tiny  collapse-block-left right">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="large-6  columns">
                <div id="image-container" class="centre-block-img left"></div>
            </div>
            <div class="large-3 columns padding-0 right ">
                <div class="panel panel-right left">
                    <div class="left small-12 medium-12 large-12 ">
                        <button class="button tiny   collapse-block-left left" name="hide-left">
                            <i class="fa fa-angle-right"></i>
                        </button>
                        <h5 class="right">Сообщение
                        </h5>

                    </div>
                    <div class="row">
                        <ul class="tabs" data-tab role="tablist">
                            <li class="tab-title active" role="presentation"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1">Tab 1</a></li>
                            <li class="tab-title" role="presentation"><a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2">Tab 2</a></li>
                            <li class="tab-title" role="presentation"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-3">Tab 3</a></li>
                            <li class="tab-title" role="presentation"><a href="#panel2-4" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-4">Tab 4</a></li>
                        </ul>
                        <div class="tabs-content">
                            <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
                                <h2>First panel content goes here...</h2>
                            </section>
                            <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
                                <h2>Second panel content goes here...</h2>
                            </section>
                            <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
                                <h2>Third panel content goes here...</h2>
                            </section>
                            <section role="tabpanel" aria-hidden="true" class="content" id="panel2-4">
                                <h2>Fourth panel content goes here...</h2>
                            </section>
                        </div>

                    </div>
                    <div class="section-container  vertical-nav" data-section data-options="deep_linking: false; one_up: true">
                        <section class="section user-name medium-12 small-12 large-12">
                            <a class="left" href="#">Koenigseg</a>
                            <p class="message">Все отлично</p>
                            <p class="time-message">12:38</p>
                        </section>
                        <section class="section user-name medium-12 small-12 large-12 ">
                            <a href="#">Volvo</a>
                            <p class="message">Все отлично</p>
                            <p class="time-message">12:38</p>
                        </section>
                        <section class="section user-name medium-12 small-12 large-12">
                            <a href="#">Saab</a>
                            <p class="message">Все отлично</p>
                            <p class="time-message">12:38</p>
                        </section>
                        <section class="section user-name medium-12 small-12 large-12">
                            <a href="#">GMS</a>
                            <p class="message">Все отлично</p>
                            <p class="time-message">12:38</p>
                        </section>
                        <section class="section user-name medium-12 small-12 large-12">
                            <a href="#">BMW</a>
                            <p class="message">Все отлично</p>
                            <p class="time-message">12:38</p>
                        </section>
                        <section class="section user-name medium-12 small-12 large-12">
                            <a  href="#">Honda</a>
                            <p class=message">Все отлично</p>
                            <p class="time-message">12:38</p>
                        </section>
                        <section class="section user-name medium-12 small-12 large-12">
                            <a href="#">Jaguar</a>
                            <p class="message">Все отлично</p>
                            <p class="time-message">12:38</p>
                        </section>
                        <section class="section user-name medium-12 small-12 large-12">
                            <a href="#">Ford</a>
                            <p class="message">Все отлично</p>
                            <p class="time-message">12:38</p>
                        </section>
                        <section class="section user-name medium-12 small-12 large-12">
                            <a href="#">Opel</a>
                            <p class="message">Все отлично</p>
                            <p class="time-message">12:38</p>
                        </section>
                        <section class="section user-name medium-12 small-12 large-12">
                            <a href="#">Mitsubishi</a>
                            <p class="message">Все отлично</p>
                            <p class="time-message">12:38</p>
                        </section>
                    </div>
                    <div class=" text-message large-12 medium-12 small-12 padding-0 left">
                        <div class="large-12 padding-0 columns">
                            <textarea placeholder="Ваше сообщение "></textarea>
                            <button href="#" class="button tiny  collapse-block-left right">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>