
<section class="panel">
        <div class="row bm-row main-usertool-block">
                <div class="large-3 columns padding-0 left ">
                    <div class="panel panel-left left">
                        <div class="left small-12 medium-12 large-12 ">
                        <h5 class="left">Название проекта
                            </h5>
                        <button class="button tiny   collapse-block-left right" name="hide-left">
                            <i class="fa fa-angle-left"></i>
                        </button>
                            </div>
                        <div class="row bm-user-block bm-list-project small-12 medium-12 large-12">
                            <div class="bm-user medium-1 small-4 columns pointer">
                                <img src="/front/assets/avatar.png">
                            </div>
                            <div class="bm-user medium-1 small-4 columns pointer">
                                <img src="/front/assets/avatar.png">
                            </div>
                            <div class="bm-user medium-1 small-4 columns pointer">
                                <img src="/front/assets/avatar.png">
                            </div>
                            <div class="bm-user medium-1 small-4 columns pointer">
                                <img src="/front/assets/avatar.png">
                            </div>
                            <!--<div class="bm-user medium-1 small-4 columns pointer">-->
                                <!--<img src="http://www.racialequityresourceguide.org/images/icons-small/icon-sm-add.png">-->
                            <!--</div>-->
                            <button class="button tiny  collapse-block-left right">
                                add
                            </button>
                        </div>
                        <div class="section-container  vertical-nav" data-section data-options="deep_linking: false; one_up: true">
                            <section class="section user-name medium-12 small-12 large-12">
                                <a class="left" href="#">Koenigseg</a>
                                <p class="message">Все отлично</p>
                                <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12 ">
                                <a href="#">Volvo</a>
                                <p class="message">Все отлично</p>
                                <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a href="#">Saab</a>
                                <p class="message">Все отлично</p>
                                <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                               <a href="#">GMS</a>
                                <p class="message">Все отлично</p>
                                <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a href="#">BMW</a>
                                <p class="message">Все отлично</p>
                                 <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a  href="#">Honda</a>
                                <p class=message">Все отлично</p>
                                <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a href="#">Jaguar</a>
                                <p class="message">Все отлично</p>
                                 <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a href="#">Ford</a>
                                <p class="message">Все отлично</p>
                                 <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a href="#">Opel</a>
                                <p class="message">Все отлично</p>
                                 <p class="time-message">12:38</p>
                            </section>
                            <section class="section user-name medium-12 small-12 large-12">
                                <a href="#">Mitsubishi</a>
                                <p class="message">Все отлично</p>
                                 <p class="time-message">12:38</p>
                            </section>
                        </div>
                        <div class=" text-message large-12 medium-12 small-12 padding-0 left">
                            <div class="large-12 padding-0 columns">
                                    <textarea placeholder="Ваше сообщение "></textarea>
                                <button href="#" class="button tiny  collapse-block-left right">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="large-6  columns">
                <div class="centre-block-img left  ">
                    <canvas id="canvas" class="canvas" ></canvas>
                    <img class="large-12" src="/front/assets/font-centre-block.jpg">
                    </div>

            </div>
            <div class="large-3 columns padding-0 right ">
                <div class="panel panel-right left">
                    <div class="left small-12 medium-12 large-12 ">
                        <button class="button tiny   collapse-block-left left" name="hide-left">
                            <i class="fa fa-angle-right"></i>
                        </button>
                        <h5 class="right">Сообщение
                        </h5>
                    </div>
                       <div class="row row-tabs small-12 left">
                           <div class="small-12 columns  padding-0">
                               <ul class="tabs show-for-medium-up  small-12" data-tab>
                                   <li class="tab-title active ">
                                       <a href="#panel1">All</a>
                                   </li>
                                   <li class="tab-title ">
                                       <a href="#panel2">To do</a>
                                   </li>
                                   <li class="tab-title ">
                                       <a href="#panel3">Resolved</a>
                                   </li>
                               </ul>
                               <!--<dl class="accordion" data-accordion>-->
                                   <!--<dd class="accordion-navigation">-->
                                       <!--<a href="#panel1" class="show-for-small-only">Accordion 1</a>-->
                                       <!--<div id="panel1" class="content active">-->
                                           <!--<div class="content-box section-box">-->
                                               <!--<h4>Tab / Accordion Content 1</h4>-->
                                           <!--</div>-->
                                       <!--</div>-->
                                       <!--<a href="#panel2" class="show-for-small-only">Accordion 2</a>-->
                                       <!--<div id="panel2" class="content">-->
                                           <!--<div class="content-box section-box">-->
                                               <!--<h4>Tab / Accordion Content 2</h4>-->
                                           <!--</div>-->
                                       <!--</div>-->
                                       <!--<a href="#panel3" class="show-for-small-only">Accordion 3</a>-->
                                       <!--<div id="panel3" class="content">-->
                                           <!--<div class="content-box section-box">-->
                                               <!--<h4>Tab / Accordion Content 3</h4>-->
                                           <!--</div>-->
                                       <!--</div>-->
                                   <!--</dd>-->
                               <!--</dl>-->
                           </div>
                       </div>

                    <div class=" accordion-main large-12 left">
                        <ul class="accordion " data-accordion>
                            <li class=" accordion-navigation list-accordion  left large-12">
                               <span>1</span>
                                <div class="navigation-accordion ">
                                    <i class="fa fa-chevron-circle-down"></i>
                                    <i class="fa fa-chevron-circle-up"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                                <div class="open-block large-12 left  ">
                                    <img class="left" src="/front/assets/avatar.png">
                                    <p class="title-open-block large-5 ">
                                        User Name
                                    </p>
                                    <button class="button tiny statys collapse-block-left right" name="hide-left">
                                        To do
                                    </button>
                                    <p class="time-message left">
                                        Time: 10:00
                                    </p>
                                    <p class="block-message">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla quam
                                        velit, vulputate eu pharetra nec, mattis ac
                                        neque. Duis
                                    </p>
                                    <button class="button tiny   collapse-block-left right" name="hide-left">
                                        Resolved
                                    </button>
                                </div>
                            </li>
                            <li class=" accordion-navigation list-accordion left large-12">
                                <span>2</span>
                                <div class="navigation-accordion">
                                    <i class="fa fa-chevron-circle-down"></i>
                                    <i class="fa fa-chevron-circle-up"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                                <div class="open-block large-12 left  ">
                                    <img class="left" src="/front/assets/avatar.png">
                                    <p class="title-open-block large-5 ">
                                        User Name
                                    </p>
                                    <button class="button tiny statys collapse-block-left right" name="hide-left">
                                        To do
                                    </button>
                                    <p class="time-message left">
                                        Time: 10:00
                                    </p>
                                    <p class="block-message">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla quam
                                        velit, vulputate eu pharetra nec, mattis ac
                                        neque. Duis
                                    </p>
                                    <button class="button tiny   collapse-block-left right" name="hide-left">
                                        Resolved
                                    </button>
                                </div>
                            </li>
                            <li class="accordion-navigation list-accordion left large-12">
                                <span>3</span>
                                <div class="navigation-accordion">
                                    <i class="fa fa-chevron-circle-down"></i>
                                    <i class="fa fa-chevron-circle-up"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                                <div class="open-block large-12 left  ">
                                    <img class="left" src="/front/assets/avatar.png">
                                    <p class="title-open-block large-5 ">
                                        User Name
                                    </p>
                                    <button class="button tiny statys collapse-block-left right" name="hide-left">
                                        To do
                                    </button>
                                    <p class="time-message left">
                                        Time: 10:00
                                    </p>
                                    <p class="block-message">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla quam
                                        velit, vulputate eu pharetra nec, mattis ac
                                        neque. Duis
                                    </p>
                                    <button class="button tiny   collapse-block-left right" name="hide-left">
                                        Resolved
                                    </button>
                                </div>
                            </li>
                            <li class="accordion-navigation list-accordion left large-12">
                                <span>4</span>
                            <div class="navigation-accordion">
                                <i class="fa fa-chevron-circle-down"></i>
                                <i class="fa fa-chevron-circle-up"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                                <div class="open-block large-12 left  ">
                                    <img class="left" src="/front/assets/avatar.png">
                                    <p class="title-open-block large-5 ">
                                        User Name
                                    </p>
                                    <button class="button tiny statys collapse-block-left right" name="hide-left">
                                        To do
                                    </button>
                                    <p class="time-message left">
                                        Time: 10:00
                                    </p>
                                    <p class="block-message">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla quam
                                        velit, vulputate eu pharetra nec, mattis ac
                                        neque. Duis
                                    </p>
                                    <button class="button tiny   collapse-block-left right" name="hide-left">
                                        Resolved
                                    </button>
                                </div>
                            </li>
                            <li class="accordion-navigation list-accordion left large-12">
                                <span>5</span>
                                <div class="navigation-accordion">
                                    <i class="fa fa-chevron-circle-down"></i>
                                    <i class="fa fa-chevron-circle-up"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                                <div class="open-block large-12 left  ">
                                    <img class="left" src="/front/assets/avatar.png">
                                    <p class="title-open-block large-5 ">
                                        User Name
                                    </p>
                                    <button class="button tiny statys collapse-block-left right" name="hide-left">
                                        To do
                                    </button>
                                    <p class="time-message left">
                                        Time: 10:00
                                    </p>
                                    <p class="block-message">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla quam
                                        velit, vulputate eu pharetra nec, mattis ac
                                        neque. Duis
                                    </p>
                                    <button class="button tiny   collapse-block-left right" name="hide-left">
                                        Resolved
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="large-12 columns padding-0 left block-list-project">
                <div class="main-list-project large-12 left">
                    <button  class="button left button-left">
                        <i class="fa fa-angle-left"></i>
                       </button>
                    <ul class="list-project left large-12 ">
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                        <li>
                            <img src="/front/assets/avatar.png">
                        </li>
                    </ul>
                    <button  class="button right button-right">
                        <i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
</section>