<section class="panel left large-12 medium-12 small-12">
    <div class=" block-new_project left large-12 medium-12 small-12 ">
        <form>
            <h2 class="title-new_project">
                User profile
            </h2>
            <div class="row registration-project">
                <div class="large-12 small-12 padding-0 columns">
                    <label>
                        <p>First name</p>
                        <input class="error" name="title-project" type="text" placeholder="Alexei " />
                        <span class="error-message">Я сообщение про ошибку не удалять меня</span>
                    </label>
                </div>
            </div>
            <div class="row registration-project">
                <div class="large-12 small-12 padding-0 columns">
                    <label>
                        <p>Last name</p>
                        <input class="" type="email" name="mail" placeholder="Gorb " />
                        <span class="error-message">Я сообщение про ошибку не удалять меня</span>
                    </label>
                </div>
            </div>
            <div class="row registration-project">
                <div class="large-12 small-12 padding-0 columns">
                    <label>
                        <p>Email</p>
                        <input class="" type="email" name="mail" placeholder=" example@mail.com" />
                        <span class="error-message">Я сообщение про ошибку не удалять меня</span>
                    </label>
                </div>
            </div>
            <div class="row registration-project">
                <div class="large-12 small-12 padding-0 columns">
                   <div class="list-project-user">
                       <ul>
                           <li>
                               <a href="/">Link 1</a>
                           </li>
                           <li>
                               <a href="/">Link 2</a>
                           </li>
                           <li>
                               <a href="/">Link 3</a>
                           </li>
                           <li>
                               <a href="/">Link 4</a>
                           </li>
                           </ul>
                   </div>
                </div>
            </div>
            <div class="row registration-project">
                <div class="large-12 medium-12 small-12 padding-0 registration-project-button columns">
                    <button class="button  button-create-project large-12 medium-12 small-12 ">Edit profile</button>
                </div>
            </div>
        </form>
    </div>
</section>

